# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [ ]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta,
from statsmodels.stats.weightstats import ztest as ztest

from scipy.stats import ttest_ind, norm, t
from scipy.stats import f_oneway
from scipy.stats import sem

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [5]:
# Run this code:
salaries = pd.read_csv(r"C:\Users\tlili\OneDrive\Bureau\Bootcamp\labs\lab-hypothesis-testing-en\data\Current_Employee_Names__Salaries__and_Position_Titles.csv")

Examine the `salaries` dataset using the `head` function below.

In [4]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [6]:
salaries.shape

(33183, 8)

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [ ]:
from scipy.stats import ttest_1samp

# Filter to only hourly employees
hourly_df = salaries[salaries['Salary or Hourly'] == 'Hourly']

# drop missing values
hourly_rates = hourly_df['Hourly Rate'].dropna()

# Perform onesample t-test
t_stat, p_value = ttest_1samp(hourly_rates, 30)

print("T-statistic:", t_stat)
print("P-value:", p_value)

# Interpretation
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: The mean hourly wage is significantly different from $30/hr.")
else:
    print("Fail to reject the null hypothesis: The mean hourly wage is not significantly different from $30/hr.")

T-statistic: 20.6198057854942
P-value: 4.3230240486229894e-92
Reject the null hypothesis: The mean hourly wage is significantly different from $30/hr.

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [15]:
from scipy import stats

# Filter hourly employees 
hourly_df = salaries[salaries['Salary or Hourly'] == 'Hourly']
hourly_rates = hourly_df['Hourly Rate'].dropna()

# Compute the sample size, mean, and standard error of the mean
n = len(hourly_rates)
mean = hourly_rates.mean()
sem = stats.sem(hourly_rates)  

# Compute 95% confidence interval
confidence_interval = stats.t.interval(confidence=0.95, df=n-1, loc=mean, scale=sem)

print("Mean hourly rate:", mean)
print("95% confidence interval:", confidence_interval)

Mean hourly rate: 32.78855771628024
95% confidence interval: (np.float64(32.52345834488425), np.float64(33.05365708767623))

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

https://stats.libretexts.org/Bookshelves/Introductory_Statistics/Statistics_with_Technology_2e_(Kozak)/07%3A_One-Sample_Inference/7.02%3A_One-Sample_Proportion_Test 

#correct link

In [16]:
from statsmodels.stats.proportion import proportions_ztest

# Count how many are hourly
n_hourly = sum(salaries['Salary or Hourly'] == 'Hourly')

# Total number of employees
n_total = len(salaries)

# Proportion we are testing 
p0 = 0.25

# Perform the one-sample proportion z-test
stat, p_value = proportions_ztest(count=n_hourly, nobs=n_total, value=p0)

print("Z-statistic:", stat)
print("P-value:", p_value)

# Interpretation
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: The proportion of hourly workers is significantly different from 25%.")
else:
    print("Fail to reject the null hypothesis: The proportion of hourly workers is not significantly different from 25%.")

Z-statistic: -3.5099964213703005
P-value: 0.0004481127249057967
Reject the null hypothesis: The proportion of hourly workers is significantly different from 25%.